/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar {
    top: 0px;
    display: flex;
    position: sticky;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: green;
    position: absolute;
    height: 75%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 0px 30px;

}

#logo img {
    padding: 0px 0px 18px;
    height: 55px;
    margin: 3px 8px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: block;
    display: flex;
    width: 33%;
    margin: 12px auto;

}


#navbar ul li {
    list-style: none;
    font-size: 1.6rem;
    display: block;
    width: 33%;
    margin: 12px auto;

}

#navbar ul li a {
    color: rgb(66, 66, 142);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;


}

#navbar ul li a:hover {
    color: blue;
    

}

.right{
    display: inline-block;
    position: absolute;
    right: 32px;
    top: 18px;
}

.btn{
    margin: 4px 8px;
    background-color: rgb(83, 194, 83);
    color: white;
    padding: 8px 32px;
    border: 2px solid rgb(4, 69, 4);
    border-radius: 45px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: green;
}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 692px;
    
}

#home::before {
    content: "";
    
    background: url(/img/bg2..png) no-repeat center right;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}


#home h1{
    font-size: 5.1rem;
    padding: 70px 10px;
    color: #1d68a8;
    margin: -68px;
}

/* Formgroup */


.formgroup input{
    text-align: center;
    display: block;
    width: 350px;
    padding: 15px;
    margin: 10px ;
    font-size: 14px;
    border-radius: 8px;
    
}

.formgroup label{
    padding: 10px;
    font-size: 25px;
}

.btn1{
    background-color: rgb(83, 194, 83);
    color: white;
    border: 2px solid rgb(4, 69, 4);
    border-radius: 45px;
    padding: 8px 32px;
    font-size: 24px;
    cursor: pointer;
    margin: 4px 8px;
    width: 380px;
}


.btn1:hover{
    background-color: green;
}

/* Gallery Section */
#gallery{
    margin: 0px;
    display: flex;
    background-color:#f5efe6;
    
    
}




.h-primary{
    font-size: 3.2rem;
    padding: 12px;
    
}

#gallery .box{
    padding: 17pxpx;
    margin:60px 24px;
    border-radius: 10px;

}

#gallery .box img{
   height: 200px;
   margin: auto;
   display: block;
}

.center{
    text-align: center;
}

/* About Section */
#about-section{
    height: 400px;
    margin: 0px;
    background-color: #abe3af;
    
}

#about-item p{
    margin: 10px 145px;
    text-align: center;
    padding: 5px 80px;
    font-size: 1.8rem;
}

footer{
    background-color:#1d68a8;
    padding: 9px 20px;
}
